/* Global */
body, html {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0 0 0 5px;
    padding: 0;
    list-style-position: inside;
}

p {
    margin: 0 0 20px;
}

button.active {
    border-bottom: 4px solid #555;
    position: relative;
    bottom: 10px;
    margin-bottom: -4px;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/* Map */

.map {
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map-tile {
    border: 2px solid #aaa;
    width: 40px;
    height: 40px;
    max-width: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    font-size: 8px;
    text-align: center;
    table-layout:fixed !important;
    word-wrap: break-word
}

.map-tile:hover {
    outline: 2px solid rgba(0, 150, 200, 0.5);
    border-color: #0af;
}

.map-tile[data-status="closed"] {
    background: #000;
}

.map-tile[data-status="begin"] {
    background: #0d0;
}

.map-tile[data-status="end"] {
    background: #d00;
}

.map-tile[data-status="set-closed"] {
    background: #8B7A5E;
}

.map-tile[data-status="set-opened"] {
    background: #9FD6D2;
}

.map-tile[data-status="path"] {
    background: #f0f;
}

.map-tile[data-lv]:after {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
    text-align: center;
    display: block;
    width: 47px;
    letter-spacing: -2px;
    color: #999;
}

.map-tile[data-lv="2"]:after {
    content: '\2022\2022';
}

.map-tile[data-lv="3"]:after {
    content: '\2022\2022\2022';
}

.map-tile[data-lv="4"]:after {
    content: '\2022\2022\2022\2022';
}


/* Players */

.player{
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  transition: all .3s linear;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}


.player::after{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 200px 403px;
  /* This adds the nice overlay. */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.60) 0%,rgba(255,255,255,0.05) 100%);
}


/* Dice */

/* Dice */

.dice{
    position:fixed;
    width: 160px;
    height: 100px;
    top: 10px;
    right: 10px;
    border:1px solid #000;
    box-sizing: border-box;
}
.die {
    border-top: 1px solid #f1f1f1;
    width: 50px; height: 50px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    font-size: 6px;
    display: inline-block;
    box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999;
    background-image: linear-gradient(top, #fefefe, #f1f1f1 80%);
    position:absolute;
}
#die-1{
    top: 10px;
    left: 10px;
}
#die-2{
    top: 10px;
    left: 75px;
}

.dot {
    width: 20%;
    height: 20%;
    left: 50%;
    top: 50%;
    margin: -10%;
    background: #345;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.die.one .dot {
    box-shadow: 0 .2em 0 #FFF
}
.die.two .dot {
    background: transparent;
    box-shadow: -2.3em -2.3em 0 #345,
             2.3em  2.3em 0 #345,
            -2.3em -2.3em 0 #FFF,
             2.3em  2.4em 0 #FFF
}
.die.three .dot {
    box-shadow: -2.3em -2.3em 0 #345,
             2.3em  2.3em 0 #345,
            -2.3em -2.3em 0 #FFF,
             2.3em  2.4em 0 #FFF,
                 0   .2em 0 #FFF
}
.die.four .dot {
    background: transparent;
        box-shadow: -2.3em -2.3em 0 #345,
                 2.3em  2.3em 0 #345,
                -2.3em  2.3em 0 #345,
                 2.3em -2.3em 0 #345,
                -2.3em -2.3em 0 #FFF,
                 2.3em  2.4em 0 #FFF,
                -2.3em  2.4em 0 #FFF,
                 2.3em -2.3em 0 #FFF
}
.die.five .dot {
    box-shadow: -2.3em -2.3em 0 #345,
             2.3em  2.3em 0 #345,
            -2.3em  2.3em 0 #345,
             2.3em -2.3em 0 #345,
            -2.3em -2.2em 0 #FFF,
             2.3em -2.2em 0 #FFF,
             2.3em  2.4em 0 #FFF,
            -2.3em  2.4em 0 #FFF,
                 0   .2em 0 #FFF
}
.die.six .dot {
    background: transparent;
    box-shadow: -2.3em -2.3em 0 #345,
            -2.3em      0 0 #345,
            -2.3em  2.3em 0 #345,
             2.3em -2.3em 0 #345,
             2.3em      0 0 #345,
             2.3em  2.3em 0 #345,
            -2.3em -2.1em 0 #FFF,
            -2.3em   .2em 0 #FFF,
            -2.3em  2.4em 0 #FFF,
             2.3em  2.4em 0 #FFF,
             2.3em   .2em 0 #FFF,
             2.3em -2.1em 0 #FFF
}


/* Buttons */

#btn-confirm{
  position: absolute;
  top: 10px;
  right: 180px;
  font-size: 16px;
}

#btn-show-hand{
  position: absolute;
  top: 34px;
  right: 180px;
  font-size: 16px;
}



/* Dialogs */

#dialogs > div{
  position: fixed;
  z-index: 10;
  top: 50%;
  left:50%;
  width: 480px;
  height: 280px;
  margin-left: -250px;
  margin-top: -150px;
  background-color:#ccc;
  padding: 10px;
  text-align: center;
  display: none;
}


.card{

  position: relative;
  width: 100px;
  height: 100px;
  font-size: 12px;
  text-align: center;
  line-height: 100px;
  float: left;
  background:#fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;

}




/* Memo Pad */

#memo-pad{
  position: fixed;
  padding: 10px;
  width: 280px;
  top: 50px;
  left: 50%;
  margin-left: -150px;
  background-color: #fff;
  border: 1px solid #000;
  display: none;
}

#memo-pad table{
  width: 100%;
}

#memo-pad table tr td:first-child{
  width: 90%;
}

#memo-pad table tr td{
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}

#player-hand{
  display: none;
  position: fixed;
  padding: 10px;
  width: 215px;
  left: 50%;
  margin-left: 160px;
  border: 1px solid;
  top: 50px;
  background: #fff;

}
